// @import 'partials/normalize';
// @import 'partials/variables';
// @import 'partials/global';
// @import 'partials/layout';
// @import 'partials/modules';
// @import 'partials/typography';
// @import 'partials/plugins';
// @import 'partials/print';
/* CSS DIRECTORY
	- Global Settings
	- The Header
	- The Main Area
	- The Input Box
	- The List of History Search
    - The Animations
*/
/* COLORS
	- Default body text  #ffffff (white)
	- Delete button      #793952 (red)
	- Background Dark    #002650 (Dark Blue)
	- Background Light   #3a56a5 (Light Blue)
*/
/* FONTS
	- Default text       Helvetica Neue, Helvetica, Arial, sans-serif
*/
/* ==============================================================
Global Settings
============================================================== */
html {
    min-height: 100%;
    background: #002650;
    background: -moz-linear-gradient(top, #002650 30%, #3a56a5 100%);
    background: -webkit-linear-gradient(top, #002650 30%,#3a56a5 100%);
    background: linear-gradient(to bottom, #002650 30%,#3a56a5 100%);
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}
#app {
    max-width:1100px;
    margin: auto;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
/* ==============================================================
The Header
============================================================== */
header {
    margin: 5rem auto;
    text-align: center;
}
header .logo {
    max-width: 180px;
    animation: slidetop .5s linear;
}
/* ==============================================================
The Input Box
============================================================== */
input:focus, button:focus {
    outline: none;
}
#search {
    width: 90%;
    margin: 0 auto;
    display: block;
    padding: 1.3rem 1.5rem 1.3rem 4.5rem;
    background: url('../images/search.svg') no-repeat 2rem center rgba(255,255,255, 0.3);
    background-size: 25px;
    border: 0;
    border-radius: 5px;
    font-size: 24px;
    color:#ffffff;
    box-sizing: border-box;
    -webkit-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
    opacity: 0;
    animation: slidetop .5s linear .2s forwards;
}
#search:focus {
    background: url('../images/search.svg') no-repeat 2rem center rgba(255,255,255, 0.6);
    background-size: 25px;
}
#search:focus a {
    color: #ffffff;
}
::-webkit-input-placeholder {
    color: rgba(255,255,255, 0.4);
}
::-moz-placeholder {
    color: rgba(255,255,255, 0.4);
}
:-ms-input-placeholder {
    color: rgba(255,255,255, 0.4);
}
:-moz-placeholder {
    color: rgba(255,255,255, 0.4);
}
/* ==============================================================
The List of History Search
============================================================== */
#history {
    font-size: 18px;
    color:#fff;
    list-style-type: none;
    padding: 2rem 0;
    background: rgba(255,255,255, 0.1);
    margin-top: 2rem;
}
#history:empty {
    display: none;
}
#history li {
    animation-name: slidebottom;
    animation-duration: .5s;
    -webkit-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#history li:hover {
    background: rgba(255,255,255, 0.1);
}
#history li.remove{
    animation-name: remove;
    animation-duration: .3s;
}
#history li h2 {
    font-weight: normal;
    display: inline-block;
    margin: 0 0 0 2rem;
    padding-right: 2rem;
    width: 50%;
    font-size: 24px;
    letter-spacing: 1px;
}
#history li time {
    font-size: 16px;
    width: 50%;
    letter-spacing: 2px;
}
.remove-item {
    opacity: 0;
    background: url('../images/delete.svg') no-repeat center center #793952;
    background-size: 25px;
    border: 0;
    width: 70px;
    height: 70px;
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.remove-item:hover {
    background: url('../images/delete.svg') no-repeat center center #8a2e53;
    background-size: 25px;
}
#history li:hover .remove-item {
    opacity: 1;
}
/* ==============================================================
Animations
============================================================== */
@keyframes slidebottom {
    from {opacity: 0;transform: translateY(10px)}
    to   {opacity: 1;transform: translateY(0px)}
}
@keyframes remove {
    from {background: transparent;opacity:1}
    to   {background: #793952;opacity:0}
}
@keyframes slidetop {
    from {opacity: 0;transform: translateY(-20px)}
    to   {opacity: 1;transform: translateY(0)}
}
/* ==============================================================
Countries List
============================================================== */
#update{
    background: #ffffff;
    max-height: 305px; /*disply 5 list items*/
    width: 100%;
    max-width:1100px;
    margin: 1rem auto;
    padding: 0;
    list-style-type: none;
    overflow-y: auto;
    position: absolute;
    z-index: 10;
}
#update ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#update li {
    line-height: 60px;
    cursor: pointer;
    font-size: 18px;
    padding-left: 2rem;
    color: #3a56a5;
    border-bottom: 1px solid #efefef;
    -webkit-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}
#update li:hover, #update li.selected  {
    background: #E1E6F4;
}

@media only screen and (max-width: 700px) {
    #history li h2 {
        font-size: 20px;
    }
}
